:root {
  --ease-quart: cubic-bezier(0.76, 0, 0.24, 1);
  --route-transition: 200ms;

  --clr-bg: hsla(207, 43%, 15%, 1);
  --clr-bg-trans: hsla(207, 43%, 15%, 0.75);
  --clr-dark: hsla(207, 43%, 13%, 1);
  --clr-white: hsla(96, 71%, 99%, 1);
  --clr-navbar: var(--clr-white);
  --clr-accent-pink: hsla(344, 60%, 33%, 0.75);
  --clr-accent-blue: hsla(207, 44%, 50%, 0.5);
  --bg-gradient: radial-gradient(
      114.65% 101.91% at 46.6% -41.6%,
      hsl(208, 33%, 36%) 0%,
      hsla(207, 43%, 15%, 0) 100%
    ),
    radial-gradient(
      113.08% 100.52% at 150.44% 20.22%,
      hsla(207, 48%, 8%, 0.51) 0%,
      hsla(207, 43%, 15%, 0) 100%
    ),
    radial-gradient(
      96.96% 86.19% at -29.13% 72.24%,
      hsla(207, 48%, 8%, 0.51) 0%,
      hsla(207, 43%, 15%, 0) 100%
    ),
    radial-gradient(
      143.58% 127.62% at 69.77% 127.62%,
      hsla(207, 100%, 23%, 0.42) 0%,
      hsla(0, 0%, 0%, 0) 100%
    ),
    black;
}

:root.light {
  --clr-bg: hsla(207, 43%, 95%, 1);
  --clr-bg-trans: hsla(207, 43%, 95%, 0.75);
  --clr-dark: hsla(207, 43%, 92%, 1);
  --clr-white: hsla(96, 71%, 1%, 1);
  --clr-navbar: var(--clr-dark);
  --clr-accent-pink: hsla(335, 71%, 64%, 1);
  --clr-accent-blue: hsla(0, 0%, 100%, 0.75);
  --bg-gradient: linear-gradient(
      178.45deg,
      #1d3761 1.31%,
      #5c7ea2 26.69%,
      #adaca7 60.2%,
      #c0b4a6 74.41%,
      #ddb187
    ),
    #ffffff;
}
