:root {
  --clr-bg: hsla(207, 43%, 15%, 1);
  --clr-dark: hsla(215, 32%, 30%, 1);
  --clr-white: hsla(96, 71%, 99%, 1);
  --clr-accent-pink: hsla(335, 71%, 64%, 1);
  --clr-accent-blue: hsla(229, 100%, 75%, 1);
}
