$mobile-break = 500px
$fg = #dcdce0
$disabled = #858588
$error = #ff6565
$focus = #b1b1ff
$border-radius = 5px
$border-radius-large = 15px

scrollbars($size, $foreground-color, $background-color)
  &::-webkit-scrollbar
    width: $size
    height: $size

  &::-webkit-scrollbar-thumb
    background: $foreground-color

  &::-webkit-scrollbar-track
    background: $background-color

  &
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color
